:root{
    --favColorText:#3f4a49
}


main{
    width: 100%;
    height: auto;
    >.row{
        >.head-top{
            width: 100%;
            height: 120vh;
            background-image: url(../images/Stocksy_comp_2793634.jpg);
            background-size: cover;
            position: relative;
            &::before{
                content: '';
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;left: 0;
                display: flex;
                background-color: rgba(0, 49, 0, 0.171);
            }
                
            
                >nav{
                    width: 100%;
                    height: 100px;
                    position: relative;
                    padding: 0 5%;
                    >.row{

                        height:100%;
                        >*{
                            display: flex;
                            height: 100%;
                        }
                    >figure{
                        width: 20%;
                        >img{
                            width: 100px;
                        }
                        
                    }
                    >ul{
                        width: 60%;
             
                    
                            >li {
                            /* border: 1px solid black; */
                            height: 100%;

                            >a {
                                display: flex;
                                height: 100%;
                                /* background-color: red; */
                                align-items: center;
                                padding: 0 20px;
                                font-size: 18px;
                                text-transform: capitalize;
                                color: white;
                                transition: .4s;

                                &:hover {
                                    letter-spacing: 4px;
                                }
                            }
                   
    
                    }
                }
                >div {
                    width: 20%;
                    align-items: center;
                    justify-content: flex-end;
                }
                }
            
            }
            >.txt-btn{
                width: 60%;
                position: absolute;
                bottom: 0;left: 0;
                padding:150px 45px;
                >*{
                    color: aliceblue;
                    text-transform: capitalize;

                }
                >h1{
                    font-size: 60px;
                }
                >p{
                    font-size: 20px;
                    margin-top: 50px;
    
                }
               
    
            }
            
        }
        /* //end head-top */
        .sec2{
            width: 100%;
            height: auto;
            background-color: white;
            padding: 5%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-content: center;
            >*{
                color: var(--favColorText);
                margin-block: 50px;
            }
            >h2{
                font-size: 60px;
                font-weight: normal;
                width: 100%;
                text-align: center;
            }
            >p{
                font-size: 25px;
                display: flex;
                text-align: center;
                margin:50px 0;
                line-height: 50px;
                width: 70%;
            }
            >.row{
                width: 100%;
                justify-content: center;
                
            >a{
                width: 300px;
            
            }
              
            }
        }

    /* ////end sec2 */

        .sec3{
            width: 100%;
            padding: 5%;
            display: flex;
            >.row{
                >*{
                    width: 50%;
                    min-height: 200px;
                    color: var(--favColorText);
                }
            >figure{
                height: auto;
                padding: 3%;
                >img{
                    width: 100%;
                }
            }
             >.sideText{
                align-content: center;
                display: flex;
                flex-wrap: wrap;
                    >h2{
                        font-size: 60px;
                        font-weight: normal;
                        text-transform: capitalize;
                    }
                    >p{
                        line-height: 40px;
                        font-size: 23px;
                        margin-top: 60px;
                    }
                }
            }
            
        }
        /* ///end sec3 */
        .sec4{
            width: 100%;
            height: auto;
            padding: 5%;
            background-color: #3f4a49;
            *{
                color: white;
                text-transform: capitalize;

            }
            >h2{
                font-size: 60px;
                text-align: center;
                text-transform: capitalize;
                font-weight: normal;
                width: 100%;
            }
           
            >.row{
                justify-content: space-evenly;
                margin-block: 50px;
                >figure{
                    width: 300px;
                    height: 300px;
                    :hover{
                        box-shadow:  0 4px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
                    }
                 
                    >img{
                        width: 100%;
                       scale: 1.22;
                    }
                    >figcaption{
                        width: 100%;
                        text-align: center;
                        margin-top: 30px;
                        font-size: 25px;
                        

                    }
                }
                >a{
                    width: 200px;
                 
                }
           
            }
           
         
            
        }

        /* ///end sec4 */
        .sec5{
            width: 100%;
            height: auto;
            padding: 5%;
            *{
                color: var(--favColorText);
                text-transform: capitalize;

            }
            >h2{
                font-size: 60px;
                text-align: center;
                text-transform: capitalize;
                font-weight: normal;
                width: 100%;
            }
           
            >.row{
                justify-content: space-evenly;
                margin-block: 50px;
                >figure{
                    width: 280px;
                    height: 450px;
                    >img{
                        width: 100%;
                       
                    }
                    >figcaption{
                        text-align: center;
                        margin-top: 30px;
                        font-size: 25px;
                        width: 100%;

                        

                    }
                }
           
                >a{
                    width: 200px;
                 }
            }
           
          
        }
        /* ///end sec 5 */

        .sec6{
            width: 100%;
            height: auto;
            background-color: #dcd9d0;
            padding: 5%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-content: center;
            >*{
                color: var(--favColorText);
                
            }
            >h2{
                font-size: 45px;
                margin-top: 30px;
                font-weight: normal;
                width: 80%;
                text-align: center;
            }
            >p{
                width: 100%;
                font-size: 15px;
                display: flex;
                margin-top: 40px;
                justify-content: center;
            }
    
        }
        /* //end sec6 */
        .sec7{
            width: 100%;
            height: auto;
            padding: 5%;
            *{
                color: var(--favColorText);
                text-transform: capitalize;

            }
            >h2{
                font-size: 60px;
                text-align: center;
                text-transform: capitalize;
                font-weight: normal;
                width: 100%;
            }
           
            >.row{
                justify-content: space-evenly;
                margin-block: 50px;
                >figure{
                    width: 290px;
                    height: 400px;
                    >*{
                        display: flex;
                        text-align: center;
                    }
                    >img{
                        width: 100%;
                    }
                    >figcaption{
                        text-align: center;
                        margin-top: 15px;
                        font-size: 25px;
                        width: 100%;

                        

                    }
                    >a{
                        color: rgb(207, 112, 112);
                        width: 100%;
                        justify-content: center;
                        margin-top: 50px;
                        position: relative;
                        &:hover{
                            &::after{
                                 width: 100%;
                                 left:0
                            }
                           
                        }
                        &::after{
                            content: '';
                            position: absolute;
                            width: 30%;
                            height: 2px;
                            background-color:  rgb(207, 112, 112);
                            bottom: -10px;
                            left: 35%;
                            transition: 1s;
                        }
                 
                    }
                }
           
            }
           
          
        }
        /* ///end sec7 */
        .sec8{
            width: 100%;
            height: auto;
            padding: 5%;
            background-color: #3f4a49;
            *{
                color: white;
                text-transform: capitalize;

            }
            >h2{
                font-size: 60px;
                text-align: center;
                text-transform: capitalize;
                font-weight: normal;
                width: 100%;
            }
           
            >.row{
                justify-content: space-evenly;
                margin-block: 50px;
          
                >a{
                    width: 400px;
                 
                }
           
            }
           
         
            
        }
        /* ///end sec8 */

            >footer{
                width: 100%;
                height: auto;
                padding: 5%;
                >.row{
                 
                    >div{
                        width: 33.333%;
                        min-height: 200px;
                        >h3{
                            color: var(--favColorText);
                            font-size: 25px ;
                            text-transform: capitalize;
                            font-weight: normal;
                       
                        }
                        
                        >p{
                            color: var(--favColorText);
                            font-size: 15px;
                            margin-block: 20px;
                            width: 60%;
                            line-height: 40px;
                        }
                        >a{
                            color:  rgb(207, 112, 112);
                            text-decoration: underline;
                            text-transform: capitalize;
                            &:hover{
                                color: #8d5d49;
                            }
                        }
                        &:nth-of-type(3){
                            height: 200px;
                            padding: 10px;
                   
                            >ul{
                                height: 100%;
                                display: flex;
                                flex-wrap: wrap;
                                flex-direction: column;
                                >li{
                                    width: 50%;
                                    height: 50px;
                                    >a{
                                        text-transform: capitalize;

                                        color:rgb(207, 112, 112);
                                        text-decoration: underline;
                                        &:hover{
                                            color: #8d5d49;
                                        }
                                    }
                                }
                            }
                        }
                    }
              
                }
            
            
        }
    }
}